<!DOCTYPE html>
<html>
	<head>
		<title>{{title}}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{asset_path}}/lib/materialize.css" />
		{{#if dev}}
		<script type="text/javascript" src="http://localhost:35729/livereload.js"></script>
		{{/if}}

		{{qe_head}}
	</head>
	<body>
		{{{body}}}
	</body>
	{{!-- @todo: allow async loading --}}
	<script src="{{asset_path}}/lib/materialize.js"></script>
	{{qe_foot}}
	<script>M.AutoInit();</script>
</html>
